{% extends "layout.html" %}
 
{% block content %}
  <h3>Personal Information</h3>
  <form action="{{ url_for('contact') }}" method=post>
    
 
    {{ form.firstname.label }}
    {{ form.firstname }}

    {{ form.lastname.label }}
    {{ form.lastname }}

    {{ form.country.label }}
    {{ form.country }}

    {{ form.address1.label }}
    {{ form.address1 }}

    {{ form.address2.label }}
    {{ form.address2 }}

    {{ form.city.label }}
    {{ form.city }}

    {{ form.state.label }}
    {{ form.state }}

    {{ form.zipcode.label }}
    {{ form.zipcode }}

    {{ form.phone.label }}
    {{ form.phone }}

    {{ form.email.label }}
    {{ form.email }}
     <br>
    {{ form.submit }}
  </form>

{% endblock %}